@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.sidenav{
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    align-items: center;
    max-width: 18%;
    height: 100vh;
    border-right: 1px solid rgba(168, 168, 168, 0.406);
}
.sidenav-items:hover{
    background-color: aliceblue;
}
.sidenav-items a:hover{
    color: #f0643e;
}
.sidenav-items{
    list-style: none;
    display: flex;
    padding: 20px 10px;
    margin: 2px auto;
    width: 85%;
}
.sidenav-items:hover{
    cursor: pointer;
}
.sidenav-items a{
    text-decoration: none;
    margin: 2px 5px;
    color: black;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 7px;
}
.ico{
    color: #f16c4c;
    scale: 1.5;
    margin: 12px 15px;
}
.upper-navbar{
    position: fixed;
    width: 82%;
    height: 60px;
    top: 0;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.upper-navbar li{
    margin: 0px 20px;
}
.uppernav-items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.uppernav-items a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 1px 50px;
}
.uppernav-items a:hover{
    color: #f16c4c;
}
.profile-pic-sec{
    width: 8%;
    cursor: pointer;
    margin-left: 20px;
}
.profile-pic{
    width: 25%;
    border-radius: 50%;
    border: 2px solid rgba(94, 94, 94, 0.826);
}
.profile-pic:hover{
    outline: 3px solid #f16c4c;
    outline-offset: 2px;
}
.dropdown-content{
    display: none;
    flex-direction: column;
    float: right;
    position: relative;
    margin-right: 50px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 150px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 10;
}
.dropdown-content a{
    margin: auto;
    text-decoration: none;
    color: black;
    padding: 7px 5px;
    font-family: 'Poppins', sans-serif;
}
.dropdown-contents a:hover{
    cursor: pointer !important;
}
.content{
    position: relative;
    float: right;
    margin-top: -620px;
    width: 81%;
    height: 89vh;
    margin-right: 5px;
    overflow-y: scroll;
}
.rest-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.search-box-rest{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    height: 40px;
    width: 580px;
    margin-left: 80px;
}
.heading{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #f0643e;
    margin-left: 15px;
    margin-top: 30px;
}
.resturants{
    margin: 40px 10px;
}
.carousel-div{
    width: 700px;
    margin: 10px auto;
}
.rest-search-ico{
    transform: translate(-35px, 0px);
}
.dropdown{
    margin-bottom: 20px;
}
.dropdown-menu li:hover{
    cursor: pointer;
}
.rest-prof-img{
    max-width: fit-content;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.rest-prof-img img{
    margin: 5px 5px;
}
.rest-name{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.text-default{
    font-family: 'Poppins', sans-serif;
}
.rest-inside-topnav{
    width: 90%;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
.rest-inside-topnav ul{
    display: flex;
}
.rest-inside-topnav li{
    margin: 5px 20px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.show-rest-props{
    width: 90%;
    margin-top: 20px;
}
.overview{
    display: none;
    font-family: 'Poppins', sans-serif;
}
.side-nav-menu-category{
    margin-top: -20px;
    max-width: 18%;
    border-right: 1px solid rgba(141, 141, 141, 0.591);
}
.side-nav-menu-category ul{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 5px;
}
.side-nav-menu-category li{
    list-style: none;
    margin: 5px 2px;
    width: 99%;
    padding: 5px 5px;
    cursor: pointer;
}
.side-nav-menu-category li:hover{
    color: #f16c4c;
}
.order-online{
    display: block;
}
.order-section{
    margin-right: 1px;
    margin-top: -190px;
    width: 83%;
    right: 0;
    position: absolute;
}
.food-category{
    width: 100%;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(170, 170, 170, 0.644);
}
.menu-item{
    width: 100%;
    display: flex;
    margin: 20px 2px;
}
.food-image{
    width: 12%;
    border-radius: 10px;
    margin-right: 20px;
}
.item-info span{
    padding: 1px 8px;
    font-size: 0.8rem;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.vote-count{
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9rem;
}
.button-add-reduce{
    display: flex;
    border: 1px solid #f0643e;
    border-radius: 5px;
}
.button-add-reduce span{
    padding: 1px 4px;
}
.btn-span{
    background-color: #ff633c;
    cursor: pointer;
    color: white;
}
.proceed-btn{
    width: 8%;
    background: #f16c4c;
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.proceed-to-payment{
    display: flex;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    width: 82%;
    position: fixed;
    height: 50px;
    justify-content: center;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.proceed-to-payment span{
    margin: 5px 5px;
}
.review {
    display: none;
    font-family: 'Poppins', sans-serif;
}
.review h4{
    margin-bottom: 40px;
}
.review-msg{
    margin: 10px 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.516);
}
.review-msg span{
    padding: 1px 8px;
    font-size: 0.8rem;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rating-span{
    max-width: 20%;
    padding: 1px 8px;
    font-size: 0.8rem;
    background-color: green;
    border-radius: 5px;
    color: white;
    margin: 15px 0px;
}
.btn:focus{
    box-shadow: none;
}
.dropdown-item:hover{
    cursor: pointer;
}
.ico-black{
    scale: 1.5;
    margin: 12px 2px;
    transform: translate(-15px, 0px);
    cursor: pointer;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.active-order{
    display: flex;
    width: 95%;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 20px;
    margin: auto;
}
.resturant-name-sec{
    margin: 10px 10px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(155, 155, 155, 0.637);
    padding: 20px 5px;
}
.resturant-name-sec span{
    height: fit-content;
}
.resturant-name-sec span:hover{
    cursor: pointer;
}
.res-info-active-order{
    display: flex;
    
}
.order-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 10px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.637);
}
.item-price-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.card{
    font-family: 'Poppins', sans-serif;
}
.profile-section{
    margin: 10px 10px;
    padding: 40px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.profile-pic-section{
    border-radius: 50%;
    border: 2px solid gray;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    margin: 5px 30px;
}
.profile-user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}
.profile-edit{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-edit button{
    color: white;
    width: 20%;
    height: fit-content;
    background-color: #ff633c;
}
.toal-order{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 20px 30px;
}
.order-analysis{
    display: flex;
    justify-content: space-between;
}
.order-analysis div{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stepper-count{
    width: 22%; 
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    color: white;
    display: flex; 
    justify-content: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.stepper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.stepper-line{
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 2px;
}
.stepper-items{
    width: 100%;
}
.stepper-items ul li{
    list-style: none;
    font-size: 0.8rem;
}
.stepper-items ul{
    display: flex;
    justify-content: space-around;
    width: 97%;
}
.stepper-icon-step{
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    padding: 1px 50px;
}
.stepper-check{
    width: 22%; 
    background-color: rgb(108, 255, 108);
    border-radius: 50%;
    color: white;
    display: flex; 
    justify-content: center;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.bg-green{
    background-color: rgb(108, 255, 108)!important;
}
.item-pic{
    width: 25%;
}
.upload-profile-pic p{
    color: #f0643e;
    cursor: pointer;
}
.upload-profile-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
}
.upload-profile-pic p:hover{
    text-decoration: underline;
}
.edit-info{
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    font-family: 'Poppins', sans-serif;
}
.edit-info input{
    border: 2px solid gray;
    border-radius: 5px;
    height: 35px;
    margin: 8px 0px;
}
.resturant-request{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    border: 1px solid rgba(142, 142, 142, 0.546);
}
.resturant-info-request{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
}
.resturant-info-request h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.resturant-action-request{
    display: flex;
    align-items: center;
    margin: 10px 10px;
}
.resturant-action-request button{
    height: fit-content;
    margin: 10px 10px;
}
.user-address{
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    width: 95%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    padding: 0px 10px;
}
.add-address{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
}
.add-address button{
    background-color: #f0643e;
    padding: 0px 5px;
    height: fit-content;
    font-size: 1.2rem;
    color: white;
    border: 1px solid #f0643e;
}
.add-address button:hover{
    background-color: white;
    color: black;
    border: 1px solid gray;
}
.address-line{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(165, 165, 165, 0.553);
}
.address-line button{
    background-color: rgb(255, 68, 68);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}