@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow: hidden;
}
.sidenav{
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    align-items: center;
    max-width: 18%;
    background-color: #feefc6;
    height: 100vh;
}
.sidenav-items:hover{
    background-color: #ffe5a6;
}
.sidenav-items{
    list-style: none;
    display: flex;
    padding: 20px 10px;
    margin: 2px auto;
    width: 85%;
}
.sidenav-items:hover{
    cursor: pointer;
}
.sidenav-items a{
    text-decoration: none;
    margin: 2px 5px;
    color: black;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}
.ico{
    color: #f16c4c;
    scale: 1.5;
    margin: 12px 15px;
}
.upper-navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    top: 0;
}
.uppernav-items{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.uppernav-items a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: 1px 50px;
}
.uppernav-items a:hover{
    color: #f16c4c;
}
.profile-pic-sec{
    width: 8%;
    cursor: pointer;
    margin-left: 20px;
}
.profile-pic{
    width: 25%;
    border-radius: 50%;
    border: 2px solid rgba(94, 94, 94, 0.826);
}
.profile-pic:hover{
    outline: 3px solid #f16c4c;
    outline-offset: 2px;
}
.dropdown-content{
    transition: display 2s linear;
    display: none;
    flex-direction: column;
    float: right;
    position: relative;
    margin-right: 50px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 150px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.dropdown-content a{
    margin: auto;
    text-decoration: none;
    color: black;
    padding: 7px 5px;
    font-family: 'Poppins', sans-serif;
}
.content{
    position: relative;
    float: right;
    margin-top: -660px;
    width: 81%;
    height: 89vh;
    margin-right: 5px;
}
/* .rest-search::before{
    content: "";
    background: url("../images/search-box-bg.png");
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
} */
.rest-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: url("../images/search-box-bg.png");
    /* background: linear-gradient(90deg, rgba(228,204,80,1) 0%, rgba(255,229,166,1) 35%, rgba(254,239,198,1) 100%); */
}
.search-box-rest{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    height: 30px;
    width: 80%;
    margin-left: 80px;
}