{%extends "adminhome.html"%}
{%block content%}
<div class="resturant-request">
    <div style="display: flex; justify-content: center;">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" alt="" style="width: 15%; margin: 5px 10px;">
        <div class="resturant-info-request">
            <h2>Jhon Resturant</h2>
            <p><i class="fa-solid fa-house"></i>&nbsp; Gate - 2, NIT Agartala</p>
            <p><i class="fa-solid fa-phone"></i>&nbsp; +91 2589647895</p>
        </div>
    </div>
    <div class="resturant-action-request">
        <button type="button" class="btn" style="background-color: rgb(255, 54, 54); color: white;">Danger</button>
        <button type="button" class="btn" style="background-color: rgb(18, 196, 18); color: white;">Success</button>
    </div>
</div>
{%endblock%} 