{%extends "admindashboard.html"%}
{%block content%}

<h2 class="heading">Resturants</h2>
        <div class="resturants">
            <div class="row" id="show-resturants">
                {% for i in range(8) %}
                <div class="col-md-3 my-3 resturant-card">
                    <div class="card" style="width: 18rem;">
                        <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jhon Resturant{{ i+1}}</h5>
                            <span class="rating-span">4.5 &#9734;</span>
                            <button class="btn bg-danger" style="width: fit-content; color: white;">Delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> 

{%endblock%}