<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/login.css" rel="stylesheet">
    <title>User - Log in</title>
</head>
<body>
    <div class="container">
        <h2 style="font-size: 2.3rem; font-family: 'Poppins', sans-serif;">Login</h2>
        <div class="login-box">
            <form method="post">
                <label class="input-label" for="email">Enter Your Email id</label>
                <input class="input-box" type="email" id="email">
                <label class="input-label" for="password">Enter Password</label>
                <input class="input-box" type="password" id="password">
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>