{%extends "index.html"%}
{%block content%}
<div class="row">
    <div class="card my-4 mx-4 col-md-3" style="width: 18rem;">
        <span class="position-absolute top-0 translate-middle badge rounded-pill bg-success" style="left: 255px;">
            DELIVERED
            <span class="visually-hidden">unread messages</span>
          </span>
        <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 600;">John Resturant</h5>
          <h5 style="font-size: 0.8rem;">ITEMS</h5>
          <p class="card-text">2 X Egg Roll</p>
          <h5 style="font-size: 0.8rem;">TOTAL AMOUNT</h5>
          <p class="card-text">&#8377;70</p>
          <h5 style="font-size: 0.8rem;">ORDERED ON</h5>
          <p class="card-text">January 20, 2024 at 07:52 PM</p>
        </div>
    </div>
    <div class="card my-4 mx-4 col-md-3" style="width: 18rem;">
        <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger" style="left: 255px;">
            PAYMENT UNSUCCESSFUL
            <span class="visually-hidden">unread messages</span>
          </span>
        <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 600;">John Resturant</h5>
          <h5 style="font-size: 0.8rem;">ITEMS</h5>
          <p class="card-text">10 X Paratha</p>
          <h5 style="font-size: 0.8rem;">TOTAL AMOUNT</h5>
          <p class="card-text">&#8377;100</p>
          <h5 style="font-size: 0.8rem;">ORDERED ON</h5>
          <p class="card-text">January 20, 2024 at 07:52 PM</p>
        </div>
    </div>
</div>
{%endblock%}