{%extends "resturantsdashboard.html"%}
{%block content%}
<div class="recieved-order">
    <h2>Active orders</h2>
    <hr>
    <div class="order-details">
        <div class="order-details-user-info">
            <p><i class="fa-solid fa-user"></i>&nbsp; Aditya Pratap</p>
            <p><i class="fa-solid fa-house"></i>&nbsp; R-120, RNT Hostel, NIT Agartala</p>
            <p><i class="fa-solid fa-phone"></i>&nbsp; +91 5268975412</p>
            <p><i class="fa-solid fa-calendar-days"></i>&nbsp; Jan 20, 2024 at 08:09 PM</p>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-around;">
            <div class="order-details-item">
                <p>5 X Alu Paratha</p>
            </div>
            <div class="order-details-price">
                <p>&#8377; 150</p>
            </div>
        </div>
        <hr>
        <div class="order-details-total">
            <div><p>Total</p></div>
            <div><p>&#8377; 150</p></div>
        </div>
        <div class="order-details-controlls">
            <button class="btn" style="background-color: green; color: white;">Accept</button>
            <button class="btn" style="background-color: #f16c4c; color: white;">Out For Delivery</button>
            <button class="btn" style="background-color: #f16c4c; color: white;">Delivered</button>
        </div>
    </div>
</div>
{%endblock%}
