{%extends "resturantsdashboard.html"%}
{%block content%}

<div class="admin-dashboard">
    <div class="toal-order">
        <h2 style="font-family: 'Poppins', sans-serif;">Total Orders</h2>
        <hr style="color: #f95b34e2; height: 2px;"> 
        <div class="order-analysis">
            <div>
                <h4 style="font-family: 'Poppins', sans-serif; ">Orders Recieved</h4>
                <p style="color: #ff633c; font-size: 1.5rem; font-weight: 400;">200</p>
            </div>
            <div>
                <h4 style="font-family: 'Poppins', sans-serif;">Successful Orders</h4>
                <p style="color: #ff633c; font-size: 1.5rem; font-weight: 400;">198</p>
            </div>
            <div>
                <h4 style="font-family: 'Poppins', sans-serif;">Success Rate</h4>
                <p style="color: #ff633c; font-size: 1.5rem; font-weight: 400;">99%</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}