{%extends "index.html"%}
{%block content%}

<div class="rest-search">
  <div style="display: flex; justify-content: center;">
      <input class="search-box-rest" type="text" id="search-box" onkeyup="search()">
      <div><i class="fa-solid fa-magnifying-glass ico rest-search-ico"></i></div>
  </div>
</div>
<div class="carousel-div">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
              class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="https://img.freepik.com/free-vector/mega-sale-banner-blue-yellow-colors_1017-32176.jpg?w=1060&t=st=1706116016~exp=1706116616~hmac=63ca5e8a71c57f06858f25e19dcbb7d3cc6a5e9603f8f758515021d67ff8fd17"
                  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://img.freepik.com/free-vector/creative-big-sale-banner-with-offer-details-geometric-style_1017-48210.jpg?w=1060&t=st=1706116522~exp=1706117122~hmac=35fb3d39c16bad1efab220bfba10a5b6ed90648de9ceab0797a7cbdc0976811f"
                  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
              <img src="https://img.freepik.com/free-vector/mega-sale-offers-banner-template_1017-31299.jpg?w=1060&t=st=1706116369~exp=1706116969~hmac=4ad9fd1d743c34370abcf7303d051f38297fce1bbfec312cc16c1202631edc6f"
                  class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>
<h2 class="heading">Order now</h2>
<div class="resturants">
    <div class="row" id="show-resturants">
    {% for i in range(8) %}
    <div class="col-md-3 my-3 resturant-card">
        <div class="card" style="width: 18rem;">
            <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jhon Resturant{{ i+1}}</h5>
                <span class="rating-span">4.5 &#9734;</span>
                <a href="/resturants/resturantinfo" class="btn" style="background-color: #f0643e; color: white; width: 42%;">See Menu</a>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
  </div>
  <script>
    const search = ()=>{
                const searchData = document.getElementById("search-box").value.toLowerCase();
                const resturants = document.getElementsByClassName("resturant-card");
                const getResult = ()=>{
                    for(resturant of resturants){
                        if(searchData!=""){
                            if(!resturant.querySelector(".card-title").innerHTML.toLowerCase().includes(searchData)){
                                console.log(resturant.querySelector(".card-title").innerHTML)
                                console.log(resturant)
                                resturant.hidden = true;
                            }else{
                                resturant.hidden = false;
                            }
                        }else{
                            resturant.hidden = false;
                        }
                    } 
                }
                getResult()
            }
  </script>

{%endblock%}