<div class="rest-search">
    <div>
        <input class="search-box-rest" type="text">
        <img src="../static/images/search.png" alt="" style="width: 3%; transform: translate(-45px, 0px);">
    </div>
</div>
<h2 class="heading">Order now</h2>
<div class="resturants">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Resturant Name</h5>
          <a href="#" class="btn" style="background-color: #f0643e; color: white;">See Menu</a>
        </div>
    </div>
</div>