{%extends "index.html"%}
{%block content%}

<div class="rest-prof-img" id="rest-prof-img">
    <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="" style="width: 50%;">
    <div style="display: flex; flex-direction: column;">
        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" style="width: 50%;">
        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" style="width: 50%;">
    </div>
</div>
<h2 class="rest-name">{{resturantname}}</h2>
<p class="text-default">{{resturantcuisine}}</p>
<nav class="rest-inside-topnav">
    <ul>
        <li id="overview" onclick="switchResInfo(event)">Overview</li>
        <li id="order-online" onclick="switchResInfo(event)">Order Online</li>
        <li id="review" onclick="switchResInfo(event)">Reviews</li>
    </ul>
</nav>
<div class="show-rest-props">
    <div class="overview">
        <h3>About This Place</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eius vero provident incidunt
            ullam tenetur nulla nesciunt, saepe unde deleniti omnis nam distinctio aliquam facere fugit maxime
            aspernatur suscipit tempora.</p>
    </div>
    <div class="order-online">
        <div class="side-nav-menu-category">
            <ul>
                <li onclick="scrolltoItem('rolls')">Rolls</li>
                <li onclick="scrolltoItem('breads')">Breads</li>
                <li>Rice</li>
                <li>Noodles</li>
                <li>Main Course</li>
            </ul>
        </div>
        <div class="order-section">
            <h4 style="font-size: 1.5rem; font-weight: 500;">Order Now</h4>
            <div class="food-category">
                {% for menu in all_menus %}
                <div class="menu-item" name="{{menu.itemname}}">
                    <img src="{{menu.menuimageurl}}"
                        alt="" class="food-image">
                    <div class="item-info">
                        <h5 style="margin: 5px 0px;">Egg Roll</h5>
                        <span style="margin: 5px 0px;">4.5 &#9734;</span>
                        <h5>{{menu.itemname}}</h5>
                        <span>4.5 &#9734;</span>
                        <p class="vote-count">200 votes</p>
                        <p class="item-price">&#8377; {{menu.itemprice}}</p>
                        <p>{{menu.itemdescription}}</p>
                    </div>
                    <div class="add-reduct">
                        <div class="button-add-reduce">
                            <span class="btn-span" onclick="addOrReduce('-', event)">-</span>
                            <span class="plates-count" id="plates-count">0</span>
                            <span class="btn-span" onclick="addOrReduce('+', event)">+</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="proceed-to-payment">
                <span>Proceed to pay!!!</span>
                <span class="proceed-btn" onclick="sendOrder()">Checkout</span>
            </div>
        </div>
    </div>
    <div class="review">
        <h4>The John's Reviews</h4>
        <div class="review-msg">
            <h5>Mr. Hamilton</h5>
            <span>5 &#9734;</span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

{%endblock%}