{%extends "index.html"%}
{%block content%}
<h1 style="font-family: 'Poppins', sans-serif; margin: 25px;">Orders</h1>
        <div class="active-order">
            <div class="resturant-name-sec">
                <div class="res-info-active-order">
                    <img src="https://lh3.googleusercontent.com/p/AF1QipMidEEqczw-JoRCZt2kRZmkHrM6SrvGQe1OuCry=s1360-w1360-h1020" alt="" style="width: 10%; border-radius: 5px;">
                    <div style="margin: 5px 20px;">
                        <h3 style="font-family: 'Poppins', sans-serif;">John Resturant</h3>
                        <p style="font-family: 'Poppins', sans-serif;">NIT Agartala, Jirania</p>
                    </div>
                </div>
                <div style="margin: 10px 20px;">
                    <span class="badge bg-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Track</span>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Order Status</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Resturant is preparing your order
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #ff633c; color: white;">Close</button>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-info">
                <div class="item-list">
                    {% for item in all_items %}
                    <p>{{item.quantity}} X {{item.item}}</p>
                    {% endfor %}
                    
                </div>
                <div class="item-price-list">
                    <p>&#8377; 35</p>
                    <p>&#8377; 50</p>
                </div>
            </div>
            <div class="item-total">
                <div class="item-list"><p>Total</p></div>
                <div class="item-price-list"><p>&#8377; {{totalprice}}</p></div>
            </div>
        </div>
{%endblock%}        
